{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<div class="container">

{%if request.user == shop.owner%}
<a href="{%url 'new_product' pk=shop.id%}">add a product</a>
{%endif%}
<div   class="row">
<h1>{{shop.name}}</h1>
</div>

<div class="row">
  {%if products%}
  {%for product in products%}
  <div style="margin-top:20px;" class='col-md-3'>
  <div class="w3-container card">
    <div class="w3-card-4" style="width:90%;">
      <header class="w3-container edge">
        <h4>{{product.brand}} {{product.name}} : {{product.price}}</h4>
      </header>
      <div class="w3-container content">
        <p>{{product.name}}</p>



      <a href="#">add to cart</a>
      </div>
    </div>
  </div>
   </div>
   {%endfor%}
   {%else%}
   <h1>No products yet</h1>
   {%endif%}
</div>

</div>

<style>
.content{
background-color: white;
}
.card{
width:100%;
}
.edge{
background-color: teal;
color:white;
}

</style>
{%endblock%}
