{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<div class="container">


<div   class="row">
  {%if request.user == shop.owner%}
  <button class="btn btn-primary" style="text-align:center;"><a style="color:black;text-align:center;" href="{%url 'new_product' pk=shop.id%}">add a product</a></button>
  {%endif%}
<h1 style="text-align:center;color:white;">Welcome To {{shop.name}} Shop</h1>
</div>

<div  style="" class="row">
  {%if products%}
  {%for product in products%}
  <div style="margin-top:20px;" class='col-md-3'>
  <div class="w3-container card">
    <div class="w3-card-4" style="width:90%;">
      <header class="w3-container edge">
        <h4>{{product.brand}} {{product.name}} : <br>{{product.price}}</h4>
      </header>
      <div class="w3-container content">
        <img style="height:100px;width:100px"src="{{product.image.url}}" alt="{{product.brand}} {{product.name}}">
      </div>
      <footer class="w3-container edge">
        <form  action="{%url 'new_order' product.id%}" method="post" enctype="multipart/form-data">
          {%csrf_token%}

          {% bootstrap_form order_form%}
        <i style="text-align:center;" class="fas fa-cart-plus"><input type="submit" class="btn btn-success btn-lg" value="Add"></i>

        </form>

      </footer>
    </div>
  </div>
   </div>
   {%endfor%}
   {%else%}
   <h1 style="color:black;text-align:center;">Oops!! No products yet</h1>
   {%endif%}
</div>

</div>

<style>
.content{
background-color: white;

}
.card{
width:100%;
}
.edge{
background-color: teal;
color:white;
}

</style>
{%endblock%}
